ui-mobile-navbar-container {
  height: calc(env(safe-area-inset-bottom) + $ui-mobile-navbar-height + 2 * $ui-mobile-navbar-margin);

  @apply z-1000;
}

ui-mobile-navbar {
  @apply drop-shadow-lg;
  @apply rounded-lg;
  @apply backdrop-blur-lg;
  @apply bg-secondary-200/50;
  @apply dark:bg-secondary-700/50;

  margin-top: $ui-mobile-navbar-margin;
  margin-right: calc(env(safe-area-inset-right) + $ui-mobile-navbar-margin);
  margin-bottom: calc(env(safe-area-inset-bottom) + $ui-mobile-navbar-margin);
  margin-left: calc(env(safe-area-inset-left) + $ui-mobile-navbar-margin);

  [ui-mobile-navbar-link] {
    @apply p-2;
    @apply text-center;
    @apply text-secondary-800;
    @apply tracking-wide;
    @apply dark:text-secondary-300;

    i[uiIcon] {
      @apply fa-xl;
    }

    span {
      @apply text-xxs;
    }

    &.active {
      @apply text-primary-600;
      @apply dark:text-primary-400;
    }
  }
}
