ui-desktop-header-container {
  height: calc(env(safe-area-inset-top) + $ui-desktop-header-height + 2 * $ui-desktop-header-margin);

  @apply justify-center;
  @apply z-1000;
  @apply bg-white;
}

ui-desktop-header {
  @apply items-center justify-start;

  @apply backdrop-blur-lg;
  @apply bg-secondary-100;
  @apply dark:bg-secondary-700;

  @apply text-center;
  @apply text-secondary-800;
  @apply tracking-wide;
  @apply dark:text-secondary-300;

  margin-top: calc(env(safe-area-inset-top) + $ui-desktop-header-margin);
  margin-right: calc(env(safe-area-inset-right) + $ui-desktop-header-margin);
  margin-bottom: $ui-desktop-header-margin;
  margin-left: calc(env(safe-area-inset-left) + $ui-desktop-header-margin);

  @apply gap-x-2;
  @apply px-3.5;

  &.centered {
    @apply max-w-for-page;
  }

  #left-container {
    @apply flex align-middle items-center;
  }

  #center-container {
  }

  #right-container {
    @apply flex align-middle items-center;
  }
}
