ui-mobile-header-container {
  height: var(--ui-mobile-header-container-height);

  @apply z-1000;
}

ui-mobile-header {
  @apply items-center justify-start;

  @apply backdrop-blur-lg;
  @apply bg-secondary-100;
  @apply dark:bg-secondary-700;

  @apply text-center;
  @apply text-secondary-800;
  @apply tracking-wide;
  @apply dark:text-secondary-300;

  margin-top: calc(env(safe-area-inset-top) + $ui-mobile-header-margin);
  margin-right: calc(env(safe-area-inset-right) + $ui-mobile-header-margin);
  margin-bottom: $ui-mobile-header-margin;
  margin-left: calc(env(safe-area-inset-left) + $ui-mobile-header-margin);

  i[uiIcon] {
    @apply fa-lg;
  }

  i,
  a,
  h1 {
    @apply p-2;
    @apply inline-block;
  }

  @apply gap-x-2;
  @apply px-2;

  #left-container {
    @apply flex align-middle items-center text-center;
  }

  #center-container {
    @apply flex align-middle items-center;
  }

  #right-container {
    @apply flex align-middle items-center;
  }
}
