[ui-button] {
  &.btn-inline {
    &.btn-primary {
      $target: 'primary';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-500;
      @apply dark:hover:text-#{$target}-600;
    }

    &.btn-secondary {
      $target: 'secondary';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-400;
      @apply dark:hover:text-#{$target}-400;
    }

    &.btn-danger {
      $target: 'danger';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-500;
      @apply dark:hover:text-#{$target}-600;
    }

    &.btn-success {
      $target: 'success';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-500;
      @apply dark:hover:text-#{$target}-600;
    }

    &.btn-warning {
      $target: 'warning';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-500;
      @apply dark:hover:text-#{$target}-600;
    }

    &.btn-info {
      $target: 'info';
      // Light
      @apply text-#{$target}-500;
      @apply hover:text-#{$target}-600;

      // Dark
      @apply dark:text-#{$target}-500;
      @apply dark:hover:text-#{$target}-600;
    }

    &:disabled {
      &.btn-primary {
        $target: 'primary';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }

      &.btn-secondary {
        $target: 'secondary';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }

      &.btn-danger {
        $target: 'danger';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }

      &.btn-success {
        $target: 'success';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }

      &.btn-warning {
        $target: 'warning';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }

      &.btn-info {
        $target: 'info';
        // Light
        @apply text-#{$target}-500;
        @apply hover:text-#{$target}-500;

        // Dark
        @apply dark:text-#{$target}-500;
        @apply dark:hover:text-#{$target}-500;
      }
    }
  }
}
